@mixin flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
@mixin flex_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@mixin header-style {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.43em;
    text-transform: uppercase;
    color: #4E7575;
}
@mixin flex_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@mixin flex_grid_phone {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
}
@mixin bodyStyle {
        @media (max-width:850){
            height: 100%;
            margin: 0;
            padding: 0;
        }
}
